<?xml version="1.0" encoding="utf-8"?><!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

                    Hibernate configuration file

Mapping files not listed in here won't get loaded.

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<hibernate-configuration>

    <session-factory>
       
    <!-- core mapping files -->
        <mapping resource="org/eurocarbdb/dataaccess/core/Contributor.hbm.xml" />
        
        <!-- core evidence stuff -->
        <mapping resource="org/eurocarbdb/dataaccess/core/Evidence.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/EvidenceContext.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/Experiment.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/ExperimentContext.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/ExperimentStep.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/Technique.hbm.xml" />

        <!-- core glycan sequence -->
        <mapping resource="org/eurocarbdb/dataaccess/core/GlycanSequence.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/GlycanSequenceContext.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/GlycanSequenceEvidence.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/GlycanSequenceReference.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/Glycoconjugate.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/Glycoprotein.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/Perturbation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/PerturbationContext.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/PerturbationRelations.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/ReferencedEvidence.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/BiologicalContextToGlycoconjugate.hbm.xml" />
        
        <!-- core biological context -->
        <mapping resource="org/eurocarbdb/dataaccess/core/BiologicalContext.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/Taxonomy.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/TaxonomyRelations.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/TaxonomySynonym.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/TaxonomySubtype.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/TissueTaxonomy.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/TissueTaxonomyRelations.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/TissueTaxonomySynonym.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/Disease.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/DiseaseContext.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/DiseaseRelations.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/DiseaseSynonym.hbm.xml" />

        <!-- core references -->
        <mapping resource="org/eurocarbdb/dataaccess/core/Reference.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/Journal.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/JournalReference.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/ExternalDatabaseReference.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/ref/BcsdbReference.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/ref/CarbbankReference.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/ref/CfgReference.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/ref/GlyaffinityReference.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/ref/GlycobaseDublinReference.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/ref/GlycobaseLilleReference.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/ref/GlycosciencesDeReference.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/ref/KeggReference.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/seq/GlycanResidue.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/seq/GlycanMonosaccharide.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/core/seq/GlycanSubstituent.hbm.xml" />
        
    <!-- HPLC mapping files -->
        <mapping resource="org/eurocarbdb/dataaccess/hplc/Autogu.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/hplc/Column.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/hplc/Content.hbm.xml" />
    <!--<mapping resource="org/eurocarbdb/dataaccess/hplc/ContractGlycans.hbm.xml" />-->
    <!--<mapping resource="org/eurocarbdb/dataaccess/hplc/ContractSample.hbm.xml" />-->
    <!--<mapping resource="org/eurocarbdb/dataaccess/hplc/ContractValues.hbm.xml" />-->
    <!--<mapping resource="org/eurocarbdb/dataaccess/hplc/Report.hbm.xml" />-->
        <mapping resource="org/eurocarbdb/dataaccess/hplc/Detector.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/hplc/Digest.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/hplc/DigestProfile.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/hplc/DigestSingle.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/hplc/DisRefine.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/hplc/Disappeared.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/hplc/Enzyme.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/hplc/Glycan.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/hplc/GlycanDisease.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/hplc/GlycanPerturbation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/hplc/GlycanSequenceTemp.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/hplc/GlycanSourceLink.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/hplc/GlycanTaxonomy.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/hplc/GlycanTissue.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/hplc/HplcPeaksAnnotated.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/hplc/HplcPeaksIntegrated.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/hplc/Instrument.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/hplc/IntegrationMethod.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/hplc/Mandetector.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/hplc/MethodRun.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/hplc/Multipleglycoct.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/hplc/MultistructuresGlycoct.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/hplc/ParentProfile.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/hplc/PictorialRepresentation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/hplc/Profile.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/hplc/ProfileData.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/hplc/Ref.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/hplc/RefLink.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/hplc/RefTaxLink.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/hplc/StructuresGlycoct.hbm.xml" />
        
    <!-- MS mapping files -->
        <mapping resource="org/eurocarbdb/dataaccess/ms/Acquisition.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/Analyser.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/AnalyserParameter.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/Annotation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/DataProcessing.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/Device.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/DeviceSettings.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/EsiParameter.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/Fragmentation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/FragmentationParameter.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/FragmentationType.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/Ion.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/IontrapParameter.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/Laser.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/LaserParameter.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/MaldiMatrix.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/MaldiParameter.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/Manufacturer.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/MassDetector.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/MassDetectorParameter.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/MethodOfCombination.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/MsMsRelationship.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/PeakAnnotated.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/PeakAnnotatedToIon.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/PeakAnnotatedToSmallMolecule.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/PeakAnnotation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/PeakLabeled.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/PeakProcessing.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/Persubstitution.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/ReducingEnd.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/Scan.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/ScanImage.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/SmallMolecule.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/SmallMoleculeComposition.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/Software.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/SoftwareType.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/Source.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/SourceParameter.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/SumAverageRelationship.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/TandemScanMethod.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/ms/TofParameter.hbm.xml" />

    <!-- NMR mapping files -->

        <mapping resource="org/eurocarbdb/dataaccess/nmr/NmrEvidence.hbm.xml" />

        <mapping resource="org/eurocarbdb/dataaccess/nmr/memops/Implementation/MemopsRoot.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/memops/Implementation/Url.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/memops/Implementation/ApplicationData.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/memops/Implementation/SymmTracelessMatrix.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/memops/AccessControl/AccessControlStore.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/memops/AccessControl/AccessObject.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/memops/AccessControl/Permission.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/memops/AccessControl/User.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/memops/AccessControl/UserGroup.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/KeywordDefinition/KeywordDefinition.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/KeywordDefinition/KeywordDefinitionStore.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/Affiliation/AffiliationStore.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/Affiliation/Group.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/Affiliation/Organisation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/Affiliation/Person.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/Affiliation/PersonInGroup.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/DataLocation/AbstractDataStore.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/DataLocation/Component.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/DataLocation/ComponentShape.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/DataLocation/DataLocationStore.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/DataLocation/DataUrl.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/DataLocation/NumericMatrix.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/DataLocation/MimeTypeDataStore.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/DataLocation/BlockedBinaryMatrix.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/DataLocation/ShapeMatrix.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/ChemElement/ChemElement.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/ChemElement/ChemElementStore.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/ChemElement/Isotope.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/Stereochemistry/RefStereochemistry.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/Stereochemistry/StereochemistryStore.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/DbRef/Database.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/DbRef/Entry.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/Taxonomy/NaturalSource.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/Taxonomy/Taxonomy.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/Template/AbstractProbability.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/Template/MultiTypeValue.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/Template/MultiTypesValue.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/Classification/AbstractCategory.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/Classification/Classification.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/Classification/SampleComponentCategory.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/Classification/ExperimentType.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/Classification/TargetScoreboard.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/Classification/HolderCategory.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/Classification/HazardPhrase.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/Classification/InstrumentType.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/Classification/SampleCategory.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/Classification/TargetStatus.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/Location/Location.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/Location/LocationStore.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/Citation/Citation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/Citation/CitationStore.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/Citation/JournalCitation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/Citation/ThesisCitation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/Citation/ConferenceCitation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/Citation/BookCitation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrExpPrototype/AtomSite.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrExpPrototype/ExpGraph.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrExpPrototype/ExpMeasurement.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrExpPrototype/ExpStep.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrExpPrototype/ExpTransfer.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrExpPrototype/NmrExpPrototype.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrExpPrototype/RefExpDim.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrExpPrototype/RefExpDimRef.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrExpPrototype/RefExperiment.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrExpPrototype/SystematicName.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/ChemComp/AbstractChemAtom.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/ChemComp/AtomSysName.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/ChemComp/ChemAngle.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/ChemComp/ChemAtomSet.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/ChemComp/ChemBond.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/ChemComp/ChemComp.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/ChemComp/ChemCompSysName.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/ChemComp/ChemCompVar.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/ChemComp/ChemTorsion.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/ChemComp/ChemTorsionSysName.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/ChemComp/LinkEnd.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/ChemComp/NamingSystem.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/ChemComp/Stereochemistry.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/ChemComp/LinkAtom.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/ChemComp/ChemAtom.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/ChemComp/NonStdChemComp.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/ChemComp/StdChemComp.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/Holder/AbstractHolderType.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/Holder/Holder.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/Holder/HolderLocation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/Holder/HolderStore.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/Holder/HolderTypePosition.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/Holder/RefSamplePosition.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/Holder/PinType.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/Holder/HolderType.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/Instrument/AbstractInstrument.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/Instrument/InstrumentStore.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/Instrument/NmrProbe.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/Instrument/NmrSpectrometer.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/Instrument/Instrument.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/Instrument/Column.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/ChemCompLabel/AtomLabel.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/ChemCompLabel/ChemCompLabel.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/ChemCompLabel/Isotopomer.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/ChemCompLabel/LabelingScheme.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/ChemCompCharge/ChemAtomCharge.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/ChemCompCharge/ChemCompCharge.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/ChemCompCharge/ChemCompVarCharge.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrReference/ChemAtomNmrRef.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrReference/ChemAtomShiftCorr.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrReference/ChemCompNmrRef.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrReference/ChemCompVarNmrRef.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrReference/NmrReferenceStore.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/ChemCompCoord/ChemAtomCoord.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/ChemCompCoord/ChemCompCoord.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/ChemCompCoord/ChemCompVarCoord.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/Method/Method.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/Method/MethodStore.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/Method/Parameter.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/general/Method/Software.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/Molecule/Alignment.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/Molecule/MolResLink.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/Molecule/MolResLinkEnd.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/Molecule/MolResidue.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/Molecule/MolSeqFragment.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/Molecule/Molecule.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/Molecule/MoleculeSysName.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/LabeledMolecule/AtomLabel.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/LabeledMolecule/LabeledMixture.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/LabeledMolecule/LabeledMolecule.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/LabeledMolecule/MolLabel.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/LabeledMolecule/MolLabelFraction.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/LabeledMolecule/ResLabel.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/LabeledMolecule/ResLabelFraction.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/LabeledMolecule/UniformAtomLabel.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/LabeledMolecule/SingleAtomLabel.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/MolSystem/Atom.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/MolSystem/Chain.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/MolSystem/ChainFragment.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/MolSystem/ChainInteraction.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/MolSystem/MolSystem.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/MolSystem/MolSystemLink.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/MolSystem/MolSystemLinkEnd.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/MolSystem/MolSystemSysName.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/MolSystem/NonCovalentBond.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/MolSystem/Residue.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/MolSystem/StructureGroup.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/RefSampleComponent/AbstractComponent.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/RefSampleComponent/ComponentDbRef.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/RefSampleComponent/CompositeElement.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/RefSampleComponent/CompositeInteraction.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/RefSampleComponent/IsotopeLabel.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/RefSampleComponent/Label.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/RefSampleComponent/MolCompFeature.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/RefSampleComponent/RefSampleComponentStore.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/RefSampleComponent/SpecificLabelGroup.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/RefSampleComponent/MolComponent.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/RefSampleComponent/Substance.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/RefSampleComponent/Cell.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/RefSampleComponent/Composite.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/RefSampleComponent/RestrictionEnzyme.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/RefSampleComponent/Primer.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/RefSampleComponent/Construct.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/Validation/ValidationResult.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/Validation/ValidationStore.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/Validation/NmrConstraintListValidation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/Validation/NmrConstraintValidation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/Validation/NmrMeasurementListValidation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/Validation/NmrMeasurementValidation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/Validation/PeakValidation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/Validation/PeakListValidation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/Validation/ResidueValidation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/Validation/AtomValidation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/Validation/StructureValidation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/Validation/EnsembleValidation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/Validation/ChainValidation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/Validation/MolSysAtomValidation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/Validation/MolSystemValidation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/Validation/MolSysChainValidation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/Validation/MolSysResidueValidation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/Validation/EntryValidation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/Sample/AbstractSample.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/Sample/RefSampleSource.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/Sample/SampleComponent.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/Sample/SampleStore.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/Sample/RefSample.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/Sample/Sample.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/lims/Sample/CrystalSample.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/MolStructure/Atom.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/MolStructure/Chain.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/MolStructure/Coord.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/MolStructure/Model.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/MolStructure/Residue.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/molecule/MolStructure/StructureEnsemble.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/AbstractDataDerivation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/AbstractDataDim.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/AbstractMeasurement.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/AbstractMeasurementList.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/AbstractPeakDimContrib.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/AtomSet.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/ChainState.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/ChainStateSet.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/DataDimRef.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/DataSource.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/DataSourceImage.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/DerivedData.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/DerivedDataList.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/DimensionScaling.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/ExpChainState.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/ExpDim.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/ExpDimRef.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/ExpDimRefMapping.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/ExpTransfer.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/Experiment.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/NmrExpSeries.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/NmrProject.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/Peak.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/PeakCluster.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/PeakContrib.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/PeakDim.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/PeakDimComponent.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/PeakIntensity.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/PeakList.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/ResidueProb.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/ResidueTypeProb.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/Resonance.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/ResonanceGroup.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/ResonanceGroupProb.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/ResonanceProb.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/ResonanceSet.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/SampleCondition.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/SampleConditionSet.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/ShiftReference.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/SparseSampling.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/StructureAnalysis.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/StructureGeneration.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/SpectralDensityDerivation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/IsotropicS2Derivation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/DataDerivation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/PKaDerivation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/SampledDataDim.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/FreqDataDim.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/FidDataDim.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/T1.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/T1Rho.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/ShiftDifference.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/Shift.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/T2.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/Noe.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/HExchProtection.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/HExchRate.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/JCoupling.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/DipolarRelaxation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/Rdc.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/ShiftAnisotropy.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/NoeList.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/T1List.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/ShiftAnisotropyList.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/ShiftDifferenceList.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/ShiftList.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/T1rhoList.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/T2List.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/HExchRateList.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/HExchProtectionList.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/JCouplingList.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/DipolarRelaxList.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/RdcList.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/PeakDimContribN.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/PeakDimContrib.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/SpectralDensity.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/IsotropicS2.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/Datum.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/Pka.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/SpectralDensityList.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/DataList.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/IsotropicS2List.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/PkaList.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/InternalShiftReference.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/Nmr/ExternalShiftReference.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/AbstractConstraint.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/AbstractConstraintList.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/ChainStateLink.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/ConditionState.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/ConstraintGroup.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/ConstraintPeakContrib.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/DihedralConstraintItem.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/FixedAtomSet.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/FixedResonance.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/FixedResonanceSet.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/NmrConstraintStore.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/PairwiseConstraintItem.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/ResCoord.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/ResStructure.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/Violation.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/ViolationList.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/DihedralConstraint.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/SingleConstraint.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/RdcConstraintList.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/HBondConstraintList.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/DistanceConstraintList.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/JCouplingConstraintList.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/CsaConstraintList.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/DihedralConstraintList.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/ChemShiftConstraintList.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/RdcConstraintItem.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/HBondConstraintItem.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/JCouplingConstraintItem.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/DistanceConstraintItem.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/RdcConstraint.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/ChemShiftConstraint.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/JCouplingConstraint.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/DistanceConstraint.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/HBondConstraint.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrConstraint/CsaConstraint.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrEntry/Entry.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrEntry/EntryMolecule.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrEntry/NmrEntryStore.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrEntry/RelatedEntry.hbm.xml" />
        <mapping resource="org/eurocarbdb/dataaccess/nmr/ccp/nmr/NmrEntry/Study.hbm.xml" />

    </session-factory>
</hibernate-configuration>

